body {
    background-color:darkseagreen;
}

.login_div1, .login_div2 {
    background-color: darkolivegreen;
    padding: 10px;
    float:none;
    border-radius: 25px;
    color: white;
}

#username1, #username2 {
    width: 90%;
    margin: 5px;
}

.btn {
    color: black;
}